/* RESET CONFIG */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem; /* 1 rem = 10px */
    text-decoration: none;
}


img{
    max-width: 100%;
}

html{
    font-size: 62.5%; /* Essa configuração vai transformar: 1 rem = 10px - Então para converter um pixel em rem, eu uso os decimais.*/
}

button{
    cursor: pointer;
}

a {
    color: inherit; 
}

/*  */

body {
    background-color: #1C1C1C;
    height: 100%;
}

#main{
    width: 55rem;

    max-height: 100%;
    background-color: #121212;
    margin: 0 auto;
}

/* ------------------ Search Section ----------------- */

header{
    position: relative;
}

#title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8.2rem;
    left: 4.2rem;
}

h1{
    font-weight: 800;
    font-size: 4rem;
    margin-right:11.2rem ;
}

h3{
    font-weight: 700;
    font-size: 1.4rem;
}

/* -------------------- Search Section ----------------------- */

#search-section{
    position: absolute;
    top: 19.5rem;
    width: 100%;
}

#search-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

#input{
    display: flex;
    background-color: #2E2E2F ;
    height: 3.8rem;
    width: 36rem;
    border-radius: 6px 0px 0px 6px;

}

input{
    background-color: #2E2E2F;
    width: 100%;
    border-radius: 6px;
    color: #c4c4c4;
    padding-left: 1rem;
}

#input_img{
    width: 2rem;
    margin-left:2rem ;
}

#search-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 11px 9px 17px;
    gap: 8px;
    width: 12rem;
    height: 3.8rem;
    background: #4B4B4B;
    border-radius: 0px 6px 6px 0px;
    color: white;

}

/* -------------------------- MAIN LIST ------------------------- */

#movie-list{
    height: 100%;
    width: 100%;
    padding-bottom: 34rem;
}

#explore-img{
    padding-top: 22.1rem;
    margin: 0 auto;
    display: none; /* SUMIU! */
    flex-direction: column;
    width: 14.8rem;
    align-items: center;
}

#img-vector{
    width: 7rem;
    margin-bottom: 1rem;
}

/* ------------------------- Movie Card --------------------------- */

.movies{
    margin-top: 6.1rem;
}

.movie-card{
    display: flex;
    align-items: center;
    color: white;
    max-width: 46.1rem;
    margin: 0 auto;
    margin-top: 2.5rem ;
    
}

.movie-poster{
    max-width: 19.9rem;
    
}

.movie-text{
    max-width: 35rem;
    height: 11.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.movie-description{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A5A5A5;
    margin: 0 0 0 2rem;
}

.movie-title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-left: 2.1rem;
}

.movie-title h2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
}

.movie-title p {
    display: inline;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.movie-title .star{
    width: 1.3rem;
    height: 1rem;

}

.movie-info{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.movie-text .movie-info p, a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    display: flex;
}

.plus-icon{
    margin-right: 0.5rem;
}

.line{
    max-width: 46.1rem;
    background-color: #a5a5a52f;
    height: 0.1rem;
    margin: 0 auto;
    margin-top: 2rem;
}